html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: #fff;
}
p, h1, h2, h3, h4, h5, form, ul, li {
  margin: 0;
  padding: 0;
}
button {
  background: #fff !important;
  color: #000 !important;
  position: absolute;
}

#computer {
  display: none; /* Initially hide the #computer element */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  height: 600px;
  width: 800px;
  background: url('../images/frame.png');
}

#screen {
  background: url('../images/background.png');
  position: absolute;
  height: 500px;
  width: 700px;
  left: -45px;
  bottom: 42px;
  margin: 63px 10px 10px 90px;
  overflow-y: visible;
  overflow-x: hidden;
}
#error {
  display: none;
  position: absolute;
  background: #7a2323;
  width: 700px;
  z-index: 100;
  text-align: center;
  padding: 20px;
  bottom: 0px;
}
#error .material-icons {
  float: left;
  vertical-align: middle;
}
#login {
  display: block;
  height: 500px;
  width: 700px;
  text-align: center;
  padding-top: 150px;
  background: rgba(0, 0, 0, 0.7);
}
#login input {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  height: 25px !important;
  width: 120px !important;
  box-sizing: border-box;
  display: inline-block !important;
  background: none !important;
  border-bottom: 1px solid white !important;
  font-weight: bold;
  color: #ffffff;
}
#login input:focus {
  box-shadow: none !important;
  background: none !important;
}

#header {
  display: none;
  background: rgba(0, 0, 0, 0.2);
  height: 40px;
}
#header img {
  padding-left:10px;
}
#header p {
  margin: 8px 10px 0 0;
  float: right;
}
.block {
  display: inline-block;
  float: left;
  margin-right: 2px;
}
.block .header {
  padding: 8px;
  background: #fff;
  width: 190px;
  height: 53px;
}
.block h1 {
  font-size: 10px;
  float: left;
  position: relative;
  color: #fff;
  width: 100px
}
.block .material-icons {
  float: right;
  margin-top: 0px;
  color: #fff;
}
.block-buttons {
  float: right;
  margin: -5px 0 -1px 0;
  width: 100px;
}
.block-buttons a {
  list-style: none;
  width: 150px;
  height: 58px;
  padding-top: 12px;
  background: #000;
  text-align: left;
  float: right;
  color: #fff;
  font-size: 10px;
  border-radius: 0px !important;
  border-bottom: 1px solid #fff;
}
.block-buttons a:nth-last-child(1) {
  border: none;
}
.block-buttons a:focus{
  background-color: #3b3b3b
}
.block form {
  float: left;
}
.block .column {
  display: list-item;
  padding: 8px;
  background: #fff;
  width: 190px;
  height: 40px;
  list-style: none;
  margin: 5px 0 5px 0;
}
.block .column h1 {
  margin-left: 10px;
  font-size: 25px;
}
input {
  margin: 0 !important;
  padding: 0 0 0 5px !important;
  height: 25px !important;
  width: 120px !important;
  box-sizing: border-box;
  display: inline-block !important;
  background: #000 !important;
  border: none !important;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}
input:focus {
  box-shadow: none !important;
  background: #000 !important;
}
.info {
  overflow: hidden;
  padding: 10px;
  background: #000;
  min-height: 400px;
}
.info .button {
  background: #fff;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  float: center;
}
.info table {
  margin-top: 20px;
}
.info hr {
  border: 0.5px solid #000;
  margin-bottom: 30px;
}
.info h1 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.info h4 {
  font-size: 16px;
  color: #fff;
}
.info .material-icons {
  float: right;
  color: #fff;
}
.info table td:nth-child(odd) {
  color: #fff;
}
.info ul {
  margin-left: 15px;
}
.info input {
  height: 42px !important;
  width: 200px !important;
  float: left;
}

#main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  overflow-y: scroll;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  margin: 10px;
}
.app {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0px 5px white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.app:hover {
  background-color: darkgray;

}
.app img {
  width: 30%;
  height: auto;
}
.app span {
  color: #000;
}
.app p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.app-content {
  display: none;
}
.app-button.active + .app-content {
  display: block;
}

.inc-link {
  color: #fff;
}
.button-large {
  width: 574px;
  text-align: center;
  margin-bottom: 30px !important;
}
.progress {
  background: #ffffff !important;
}
.indeterminate {
  background: #fff !important;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


  /* Container styles */
  .screen {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* Title styles */
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  /* Form styles */
  form {
    margin-bottom: 20px;
  }

  .input-block {
    margin-bottom: 20px;
  }

  .input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

  .helper-text {
    font-size: 14px;
    color: #888;
  }

  .page-lock {
    margin-top: -500px;
    display: none;
    padding: 146.5px;
    background-color: rgba(255,255,255,0.2);
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0 0px 5px white;
  }

  .page-hackcard {
    margin-top: -500px;
    display: none;
    padding: 168.5px;
    background-color: rgba(255,255,255,0.2);
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0 0px 5px white;
  }

  .page-vehicledestroy {
    margin-top: -500px;
    display: none;
    padding: 91.5px;
    background-color: rgba(255,255,255,0.2);
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0 0px 5px white;
  }

  .page-pd {
    margin-top: -600px;
    display: none;
    padding: 153px;
    background-color: rgba(255,255,255,0.2);
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0 0px 5px white;
  }

  .page-blackout {
    margin-top: -500px;
    display: none;
    padding: 118px;
    background-color: rgba(255,255,255,0.2);
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0 0px 5px white;
  }

  .page-boost {
    margin-top: -500px;
    display: none;
    padding: 130.5px;
    background-color: rgba(255,255,255,0.2);
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0 0px 5px white;
  }

  .page-phonegps {
    margin-top: -500px;
    display: none;
    padding: 72.5px;
    background-color: rgba(255,255,255,0.2);
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0 0px 5px white;
  }

  .page-radio {
    margin-top: -500px;
    display: none;
    padding: 115.5px;
    background-color: rgba(255,255,255,0.2);
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0 0px 5px white;
  }

  .page-hackbank {
    margin-top: -500px;
    display: none;
    padding: 105px;
    background-color: rgba(255,255,255,0.2);
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0 0px 5px white;
  }

  .page-owner {
    margin-top: -500px;
    display: none;
    padding: 91.5px;
    background-color: rgba(255,255,255,0.2);
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0 0px 5px white;
  }

  .page-radiodisrupt {
    margin-top: -500px;
    display: none;
    padding: 72.5px;
    background-color: rgba(255,255,255,0.2);
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0 0px 5px white;
  }

  .page-twitter {
    margin-top: -500px;
    display: none;
    padding: 20.1px;
    background-color: rgba(255,255,255,0.2);
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0 0px 5px white;
  }

  h1.title {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }

  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }

  .input-block {
    margin-bottom: 20px;
  }

  .input-field {
    width: 100%;
  }

  .helper-text {
    font-size: 12px;
    color: green;
  }

  .button {
    display: none;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: #45a049;
  }


  /* Add more styles for other elements within pages as needed */

  .car-lock {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .car-lock:hover {
    background-color: #45a049;
  }

